<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Restaurant Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_stylesheet.css' %}">
</head>
<body>
    <heading class="header"><h1>Green Harvest Bistro</h1></heading>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'booking' %}">Booking</a>
    </nav>
</body>
</html>