<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Restaurant Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_stylesheet.css' %}">
</head>
<body>
    <div class="header"><h1>Green Harvest Bistro</h1></div>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'menu' %}">Menu</a>
        {% if user.is_authenticated %}
            <a href="{% url 'booking' %}">Booking</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <div>
        <p>At Green Garden Bistro, we believe in celebrating the vibrant flavors of nature. 
            Nestled in the heart of Leeds, our restaurant offers a delightful array of vegetarian 
            and plant-based dishes that are as nourishing as they are delicious. 
            Whether you're a dedicated vegetarian or simply looking to explore a healthier, 
            more sustainable way of dining, our carefully crafted menu has something to tantalize every palate.</p>
        <p>
            From our fresh, locally-sourced ingredients to our warm, inviting atmosphere, Green Garden Bistro is the 
            perfect place to enjoy a meal with family and friends. Join us for a culinary experience that’s rooted in 
            nature and brimming with creativity. Come discover why we're the go-to spot for conscious eaters who refuse to compromise on taste. 
        </p>
    </div>

    <div class="content">
        <h2>Book a Table Online</h2>
        {% if not user.is_authenticated %}
            <p>To book a table, you need an account. Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
        {% else %}
            <p>Welcome back, {{ user.username }}! You can now <a href="{% url 'booking' %}">book a table</a> or view your current bookings.</p>
        {% endif %}
    </div>
</body>
</html>